main {
  width: 200vh;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: gainsboro;
}

textarea {
  height: 75vh;
  font-size: 20px;
}

#input {
  width: 15vh;
}

#output {
  width: 80vh;
}

.commonButton {
  margin: 3vh;
}
