#result {
  font-size: 12px;
}

#result textarea {
  width: 100%;
  height: calc(100vh - 150px);
  resize: both;
  font-size: 12px;
}

.content {
  width: 610px;
  margin: 0 auto;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
}
