#header {
    margin-top: 0;
    margin-bottom: 15px;
}

.buttons b {
    display: inline-block;
    font-size: 20px;
    text-align: right;
    width: 40px;
    margin-right: 5px;
}

.buttons {
    width: 600px;
    margin: 0 auto;
}

.versionButton {
    width: 70px;
    height: 40px;
    line-height: 38px;
    margin: 5px 3px;
}
.versionButton:hover {
    line-height: 35px;
}
