body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(48,48,48);
    color: silver;
    text-shadow: black 2px 2px 0;
}

#header {
    text-align: center;
}

b {
    display: inline-block;
    width: 33px;
}

.buttons {
    width: 460px;
    margin-left: calc(50vw - (380px / 2));
}

.button {
    width: 50px;
    text-align: center;
    margin: 5px 3px 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1b4958;
    font-family: 'Montserrat', sans-serif;
    color: gainsboro;
    border-width: 0;
    border-color: black;
    box-shadow: black 2px 2px 0;
    cursor: pointer;
}
