#header {
    margin-top: 0;
    margin-bottom: 15px;
}

.buttons b {
    display: inline-block;
    width: 33px;
}

.buttons {
    width: 530px;
    margin: 0 auto;
}

.versionButton {
    width: 60px;
    text-align: center;
    margin: 5px 3px 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1b4958;
    font-family: 'Montserrat', sans-serif;
    color: gainsboro;
    box-shadow: black 2px 2px 0;
    cursor: pointer;
    border: 0 solid black;
    border-radius: 5px;
}
